# MongoDB Atlas Configuration
MONGODB_CONNECTION_STRING=mongodb+srv://username:password@cluster0.xxx.mongodb.net/veriframedb?retryWrites=true&w=majority
MONGODB_DATABASE_NAME=veriframedb

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
